@font-face {
    src: url("../fonts/MADE Outer Sans Outline Regular PERSONAL USE.otf");
    font-family: "MADEOuterSansOutlineAlt";
}

@font-face {
    src: url("../fonts/MADE Outer Sans Black PERSONAL USE.otf");
    font-family: "MADEOuterSansOutlineAltBlack";
}

@font-face {
    src: url("../fonts/MADE Outer Sans Outline Black PERSONAL USE.otf");
    font-family: "MADEOuterSansOutlineAltwhite";
}

@font-face {
    src: url("../fonts/Menlo-Regular.ttf");
    font-family: "menlo";
}

@font-face {
    src: url("../fonts/DINRegular.ttf");
    font-family: "din";
}

html {
    overflow-x: hidden;
}

body {
    background-color: #eaeaea;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.prism-nav img {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

/*  Prism banner */

.prism-banner {
    background-image: url("../assets/section1.png");
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 2041px;
}

.container-n {
    display: inline-block;
    cursor: pointer;
    float: right;
    margin-top: 0px;
    margin-right: 10px;
}

.bar1, .bar2, .bar3 {
    width: 28px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 4px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-3px, 3px);
    transform: rotate(-45deg) translate(-3px, 3px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.prism-nav {
    float: left;
    top: 26px;
}

.banner {
    float: left;
    top: 80px;
}

.ar-phone {
    float: left;
}

.ar-phone img {
    margin-top: 600px;
    margin-left: 115px;
}

.circTxt2 {
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 6%;
    color: #e0dbdb;
    font-family: "MADEOuterSansOutlineAlt";
    font-size: 27.32px;
}

.prism-heading {
    float: left;
    top: 410px;
}

.prism-heading h1 {
    font-family: "MADEOuterSansOutlineAltBlack";
    font-size: 45.36px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 0.989;
    text-align: left;
}

.prism-heading p {
    font-family: "menlo";
    font-size: 15.12px;
    line-height: 19.02px;
    color: rgb(0, 0, 0);
    margin-top: 15px;
}

.prism-heading2 {
    float: left;
    top: 410px;
    width: 1039px;
}

.prism-heading2 h1 {
    font-family: "MADEOuterSansOutlineAltBlack";
    font-size: 45.36px;
    color: rgb(0, 0, 0);
}

.prism-heading2 p {
    font-family: "menlo";
    font-size: 15.12px;
    color: rgb(0, 0, 0);
    line-height: 1.258;
    width: 520px;
}

.prism-heading3 p {
    width: 540px;
}

.vr-headset {
    float: right;
}

.arrow-big img {
    height: 80px;
    width: 45px;
    margin-top: -95px;
    left: 350px;
    position: absolute;
}

.arrow-big2 img {
    height: 80px;
    width: 45px;
    margin-top: -95px;
    right: 350px;
    position: absolute;
}

.prism-ar-vr {
    width: 88%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.top {
    top: 100px;
}

.left {
    margin-left: 200px;
}

/* page 4 Section1 */

.prism-section1 {
    height: 1385px;
    margin-top: 300px;
    background-color: #eaeaea;
}

.container-section {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.prism-sec1-sub1 {
    font-size: 41px;
    font-family: "menlo";
    color: rgb(0, 0, 0);
    line-height: 2.195;
    left: 102.896px;
    float: left;
}

.prism-sec1-sub2 {
    float: left;
    text-align: center;
}

.prism-sec1-sub3 {
    font-size: 41px;
    font-family: "menlo";
    color: rgb(0, 0, 0);
    left: 102.896px;
    float: left;
}

.prism-sec2-sub1 {
    font-family: "menlo";
    color: rgb(0, 0, 0);
    border: 1px solid #000;
    margin: 0 auto;
}

.prism-sec2-sub1 p {
    text-align: center;
    margin: 0 auto;
}

.prism-sec2-sub2 {
    font-family: "menlo";
    color: rgb(0, 0, 0);
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 23%;
}

.prism-sec2-sub2 p {
    text-align: center;
    margin: 0 auto;
}

.prism-sec2-sub3 {
    font-size: 41px;
    font-family: "menlo";
    color: rgb(0, 0, 0);
    line-height: 2.195;
    left: 102.896px;
    height: 535px;
    width: 535px;
    border: 1px solid #000;
    margin: 0 auto;
}

.prism-sec2-sub3 p {
    text-align: center;
    margin: 0 auto;
}

.fl {
    float: left;
}

/*page4 section 3 */

.section3 {
    background-image: url("../assets/section3.png");
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1890px;
    z-index: 1;
}

.pos {
    position: relative;
}

.sec3-heading {
    font-size: 108px;
    font-family: "MADEOuterSansOutlineAlt";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.852;
    position: absolute;
    left: -14.156px;
    top: 490px;
    width: 832px;
    height: 172px;
    z-index: 15;
}

.sec3-content1 {
    font-size: 41px;
    font-family: "Menlo";
    color: rgb(255, 255, 255);
    line-height: 2.195;
    position: absolute;
    left: 565px;
    top: 660px;
    height: 580px;
    z-index: 62;
}

.sec3-content2 {
    position: absolute;
    left: 700px;
    margin-top: 325px;
    z-index: 60;
}

/*page4 section 4 */

.section4 {
    background-image: url("../assets/section4.png");
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1215px;
    margin-top: -13%;
}

.pos2 {
    position: relative;
}

.sec4-heading {
    font-size: 108px;
    font-family: "MADEOuterSansOutlineAlt";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.852;
    position: absolute;
    text-align: right;
    right: 0;
    top: 490px;
    width: 1000px;
    height: 172px;
    z-index: 15;
}

/* page4 section 4 */

.prism-sec4 {
    width: 90%;
    margin: 0 auto;
    height: 200px;
    top: 57%;
}

.prism-sec4-sub1 {
    font-size: 41px;
    font-family: "menlo";
    color: rgb(0, 0, 0);
}

.prism-sec4-sub1 img {
    height: 90px;
    width: 90px;
    margin-bottom: 80px;
}

.prism-sec4-sub1-text {
    font-size: 39px;
    font-family: "menlo";
    line-height: 0.951;
}

.underline img {
    height: 30px;
    width: 300px;
    right: 0;
    margin-right: 0.5%;
    margin-top: 29%;
    position: absolute;
}

.arrow-small img {
    height: 65px;
    width: 45px;
    left: 29%;
    margin-top: 42%;
    position: absolute;
}

.sec3-small {
    font-size: 11.22px;
    font-family: "menlo";
    left: 48.844px;
    line-height: 17.07px;
    top: 158px;
    width: 500px;
    color: #eaeaea;
    position: absolute;
}

div.circTxt {
    display: inline-block;
    margin-bottom: 48px;
    color: #000;
    font-family: "MADEOuterSansOutlineAlt";
    font-size: 21.83px;
}